html {
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.15;
  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: #292b2c;
  background-color: #fff;
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

a {
  color: #0275d8;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

a:focus,
a:hover {
  color: #014c8c;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
  cursor: help;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@-ms-viewport {
  width: device-width;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

table {
  border-collapse: collapse;
  background-color: transparent;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #636c72;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  line-height: inherit;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: not-allowed;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

/******************************************************************************
  background: #202729
  orange: #e69138
  green: #63d297
******************************************************************************/

.page {}

.section {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  min-height: 100vh;
  width: 100%;
}

.section__header {
  padding: 2rem 5vw 1rem;
  text-align: center;
}

/* --- Intro -------------- */

.section--intro {
  background-color: #202729;
  color: #FFFFFF;
}

.section--intro .section__header {
  background-color: #63d297;
  color: #202729;
  font-size: 10vw;
  height: 44vh;
  line-height: 44vh;
  margin: 0;
  padding: 0;
  width: 100%;
}

.section--intro .section__text {
  color: #e69138;
  font-size: 1rem;
  height: 12vh;
  line-height: 1.5;
  margin: 0;
  padding: 0.5rem 10vw;
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.section--intro .section__subheader {
  color: #e69138;
  font-size: 8vw;
  height: 44vh;
  line-height: 44vh;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}

@media (min-width: 490px) {
  .section--intro .section__header {
    height: 45vh;
    line-height: 45vh;
  }

  .section--intro .section__text {
    font-size: 3vw;
    height: 10vh;
    line-height: 10vh;
    padding: 0 5vw;
  }

  .section--intro .section__subheader {
    height: 45vh;
    line-height: 45vh;
  }
}


/* --- Actions --------------------- */

.section--actions {
  background-color: #202729;
  color: #ffffff;
  min-height: auto;
}

.section--actions .actions {
  background-color: rgba(0, 0, 0, 0.2);
  list-style: none;
  margin: 0;
  min-height: 50vh;
  padding: 6rem 5vw 4rem;
  width: 100%;
}

.section--actions .action {
  background-color: #FFFFFF;
  color: #e69138;
  margin-bottom: 2rem;
}

.section--actions .action__callout,
.section--actions .action__details {
  display: block;
  text-align: center;
  width: 100%;
}

.section--actions .action__callout {
  background-color: #e69138;
  color: #FFFFFF;
  font-size: 2rem;
  line-height: 2rem;
  min-height: 4rem;
  padding: 1rem 1vw;
}

.section--actions .action__details {
  font-size: 1.5rem;
  line-height: 2rem;
  padding: 1rem 5vw;
}

@media (min-width: 1100px) {
  .section--actions .action {
    background-color: #e69138;
    min-height: 4rem;
    overflow: hidden;
    position: relative;
  }

  .section--actions .action__callout,
  .section--actions .action__details {
    float: left;
  }

  .section--actions .action__callout {
    line-height: 4rem;
    min-height: 6rem;
    text-align: right;
    width: 25vw;
  }

  .section--actions .action__details {
    background-color: #ffffff;
    padding: 1rem 1vw;
    text-align: left;
    width: 65vw;
  }
}

/* --- Ideas ------------- */

.section--ideas {
  background-color: #202729;
  color: #FFFFFF;
}

.section--ideas .section__header {
  color: #e69138;
  font-size: 1.5rem;
  padding: 3rem 5vh;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

@media (min-width: 500px) {
  .section--ideas .section__header {
    font-size: 4vw;
    height: 25vh;
  }
}

.section--ideas .organizations {
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

.section--ideas .organization {
  background-color: #63d297;
  display: block;
  padding: 0;
  margin-bottom: 2rem;
}

.section--ideas .organization__issue {
  background-color: rgba(0,0,0,0.2);
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 5vh;
  cursor: pointer;
  margin-bottom: 0;
}

.section--ideas .organization__link {
  display: block;
  text-decoration: none;
}

.section--ideas .organization__name {
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.2;
  padding: 1rem 1rem 0 1rem;
  margin-bottom: 0;
}

.section--ideas .organization__description {
  color: #ffffff;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
}

.section--ideas .organization__cta {
  margin-bottom: 0;
  padding: 1rem;
}

.section--ideas .organization__cta .btn {
  background-color: rgba(255,255,255,0.2);
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 auto;
  padding: 1rem;
  text-transform: uppercase;
  width: 100%;
}

.section--ideas .organization__link:hover .organization__cta .btn {
  background-color: rgba(0,0,0,0.2);
}
